.header
  position: relative
  width: 75rem
  height: 80rem
  background:
    image: url('../images/bg-main-banner.png')
  .logo
    position: absolute
    top: 2.7rem
    left: 3.2rem
    +fontello('\e800', 3.4rem)
  .btn-hambuger
    position: absolute
    top: 3.3rem
    right: 2.9rem
    width: 3.2rem
    height: 2.3rem
    +fontello('\e801', 2.3rem)
  .main-title
    position: absolute
    top: 25.5rem
    left: 8.8rem
    margin-top: 0
    color: #fff
    font-size: 6.8rem
    line-height: 1.2
    +fontello('\e803', 2.3rem)
